
<div class="container">
  <h3>Upload your Documents</h3>


<div class="custom-file">
  <label class="custom-file-label" for="customFileLang">Upload resume</label>
  <input type="file" class="custom-file-input" id="customFileLang" lang="pl-Pl">
  
</div>
<br>

<div class="custom-file">
  <label class="custom-file-label" for="customFileLang">Upload Document 1 </label>
  <input type="file" class="custom-file-input" id="customFileLang" lang="fr">
 
</div>
<br>

<div class="custom-file">
  <label class="custom-file-label" for="customFileLang">Upload Document 2 </label>
  <input type="file" class="custom-file-input" id="customFileLang" lang="in">
  
</div>
<br>

<div class="custom-file">
  <label class="custom-file-label" for="customFileLang">Upload Document 3</label>
  <input type="file" class="custom-file-input" id="customFileLang" lang="zn">
 
</div>
<br>

<div class="custom-file">
  <label class="custom-file-label" for="customFileLang">Upload Document 4</label>
  <input type="file" class="custom-file-input" id="customFileLang" lang="de">

</div>
<br>

<div class="custom-file">
  <label class="custom-file-label" for="customFileLang">Upload Document 5</label>
  <input type="file" class="custom-file-input" id="customFileLang" lang="ru">
  
</div>

</div>